:root {
  --background: #f5f5f5;
  --primary: rgba(31, 31, 31, 1);
  --muted: rgba(31, 31, 31, 0.7);
  --text-font : "Manrope", sans-serif;
}

.yOverflowHidden {
  overflow-y: hidden;
}

html {
  font-family: var(--text-font);
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarContainer--hidden {
  z-index: 10;
  position: absolute;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  top: 0;
  left: -100%;
  transition: 250ms;
}

.navbarContainer--showed {
  z-index: 10;
  position: absolute;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: var(--background);
  top: 0;
  left: 0;
  transition: 250ms;
}

.navbarContainer__logo {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 2em 2em 4em 2em;
}

.navbarContainer__logo > img {
  width: 2em;
}

.navbarContainer__menu {
  display: flex;
  flex-direction: column;
}

.navbarContainer__menu__primaryLinks, .navbarContainer__menu__secondaryLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2em;
  box-sizing: border-box;
  padding: 2em;
}

.navbarContainer__menu__primaryLinks > a {
  font-size: 2.5em;
  text-decoration: none;
  color: var(--primary);
}

.navbarContainer__menu__secondaryLinks > a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--primary);
}

.header__container {
  width: 100vw;
  max-width: 2000px;
  box-sizing: border-box;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  gap: 2em;
  padding: 0 2em;
  box-sizing: border-box;
}

.header__logo {
  width: 120px;
}

.header__navbar {
  display: flex;
  gap: 2em;
}

.header__navbar-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--primary);
}

.header__icons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2em;
}

.header__icons > img {
  width: 1.25em;
}

.header__menuButton--mobile {
  display: none;
  width: 2em;
}

.content {
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
}

.background {
  background-image: url('../assets/images/background.jpg');
  height: 500px;
  width: 100%;
  max-width: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__header {
  padding: 2em 4em 0 4em;
}

.header__breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-bottom: 2em;
}

.header__breadcrumbs-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 0.75em;
}

.header__breadcrumbs-icon {
  width: 1.25em;
}

.header__title {
  font-size: 1.75rem;
  font-family: var(--text-font);
  font-weight: 400;
}

.productList__listContainer {
  padding: 2em 4em;
  box-sizing: border-box;
  width: 100%;
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
  column-gap: 2em;
}

.productList__listItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  font-size: 0.875em;
}

.productList__listItem > a {
  text-decoration: none;
}


.productList__listItem-image {
  aspect-ratio: 1/1;
  width: 100%;
}

.productList__listItem-name {
  color: var(--primary);
  font-weight: 600;
  padding: 0.5em 0;
}

.productList__listItem-color, .productList__listItem-price {
  color: var(--muted);
  font-weight: 400;
  padding-bottom: 0.5em;
}

footer {
    font-size: 0.9rem;
    color: white;
    background: #3f3f46;
    height: 30vh;
    width: 100%;
    max-width: 2000px;
    margin-top: 256px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-logo span{
    border: solid white 2px;
    width: 60px;
    height: 60px;
  }

  .footer-logo i{
    width: 15px;
  }
  
  .footer-logo div {
    display: flex;
    gap: 5px;
    width: 100%;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px;

  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin-right: 20%;
  }

  .footer-links a {
    color: white;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

@media (max-width: 768px) {

  .header {
    justify-content: space-between;
  }

  .header__menuButton--mobile {
    display: block;
  }

  .header__navbar {
    display: none;
  }

  .productList__listContainer {
      grid-template-columns: repeat(2, 1fr);
  }

  .header__logo {
    position: relative;
  }

  .header__icons {
    display: none;
  }

  .content__header {
    padding: 2em 2em 0 2em;
  }

  .productList__listContainer {
    padding: 3em 2em;
  }

  .header {
    padding: 0 1em;
  }

  .header__logo {
    width: 100px;
  }

  .navbarContainer__logo {
    padding: 2em 1em 2em 1em;
  }

  .navbarContainer__menu__primaryLinks, .navbarContainer__menu__secondaryLinks {
    padding: 1em;
  }

  .background {
    height: 350px;
  }
}

@media (max-width: 375px) {
  .productList__listContainer {
      grid-template-columns: repeat(1, 1fr);
  }

  .background {
    height: 200px;
  }

  .header__breadcrumbs {
    margin-bottom: 1em;
  }
}